<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="age" property="age" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar" />
        <result column="description" property="description" />
        <result column="role" property="role" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>
    <resultMap id="mapWithRoleName" type="com.example.mybatisplus.model.vo.UserVO" extends="BaseResultMap">
        <result column="roleName" property="roleName"/>
    </resultMap>
    <select id="selectMyPage" resultType="com.example.mybatisplus.model.vo.UserVO">
        select a.*,d.item_name as roleName from user a left join dictionary d on a.role = d.item_value
        <where>
            a.is_deleted = 0 and a.role != 1 and d.type = 'ROLE'
            <if test="user.account != null and user.account != ''">
                and a.account = #{user.account}
            </if>
            <if test="user.password != null and user.password != ''">
                and a.password = #{user.password}
            </if>
            <if test="user.role != null">
                and a.role = #{user.role}
            </if>
        </where>

    </select>
</mapper>
