<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.WindFarmUrlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.WindFarmUrl">
        <id column="id" property="id" />
        <result column="farm_id" property="farmId" />
        <result column="origin_file_url" property="originFileUrl" />
        <result column="process_file_url" property="processFileUrl" />
        <result column="location" property="location" />
        <result column="model" property="model" />
        <result column="type" property="type" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
